.maincomponent {
    /* border: 2px solid red; */
    font-family: var(--font-poppins);
    padding: 1% 5%;
    padding-right: 25%;
}

.sidemaintitle {
    font-size: 1.6rem;
    font-weight: 550;
}

.helpbox {
    font-weight: 250;
    font-size: 0.6rem;
    color: rgb(88, 88, 88);
}

.formlabel {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    font-family: var(--font-poppins);
}

.tagdiv {
    border: 1px solid #D9D9D9;
    padding: 0.5% 1%;
    border-radius: 5px;
}

.formcomp {
    margin: 2% 0%;
}