.maincomponent {
    /* border: 2px solid red; */
    font-family: var(--font-poppins);
    padding: 1% 5%;
    padding-right: 5%;
}

.sidemaintitle {
    font-size: 1.6vw;
    font-weight: 550;
}

.selection {
    padding: 2% 3%;
}

.viewpoint {}

.pcphoto {}

.pcscreen {
    text-align: center;
    width: 70%;
    height: 20vw;
    margin-left: 7%;
    padding-top: 2%;
}

.mobilescreen {
    text-align: center;
    width: 10%;
    height: 15vw;
    position: absolute;
    z-index: +2;
    left: 80%;
    top: 60%;
}

.navname {
    font-family: var(--font-poppins);
    font-size: 0.8rem;
}

.sample {
    background-color: #f0f0f0;
}

.sidenav {
    background-color: #f0f0f0;
}

.maintitle {
    font-family: var(--font-poppins);
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    padding-top: 15%;
}

.maindate {
    font-family: var(--font-poppins);
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}

.maintitlemobile {
    font-family: var(--font-poppins);
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    padding-top: 15%;
}

.maindatemobile {
    font-family: var(--font-poppins);
    font-size: 0.5rem;
    font-weight: 400;
    color: white;
}

.covertitle {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 500;
}

.coverdate {
    width: 100%;
    font-size: 0.8rem;
    padding-left: 5%;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 5%;
    margin-bottom: 0px;
}


.fontstyle {
    border: none;
    border-radius: 0px;
    margin-top: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
}

.titlediv {
    border: 1px solid #D9D9D9;
}

.formlabel {
    font-size: 1.1vw;
    font-weight: 550;
    color: black;
    font-family: var(--font-poppins);
    margin: 7% 0%;
}

.fontmain {
    margin-bottom: 5%;
}

.gridstylediv {
    display: flex;
    justify-content: space-between;
}

.gridstyleinnerdiv {
    width: 48%;
}

.gridinnersetting {
    border: 1px solid #D9D9D9;
    padding: 15% 15%;
    text-align: center;
}

.stylenames {
    text-align: center;
    font-size: 0.8rem;
    font-family: var(--font-poppins);
    margin: 4% 0%;
}

.sidemain {
    /* padding: 2% 5%; */
    margin: 7% 2%;
    background-color: #D9D9D9;
}