
.maincardempty {
    margin: 1% 1%;
}

.maincard {
    margin: 3% 1%;
    border-radius: 7px;
    color: black;
    background-color: #EFEFEF;
}

.singlecard {
    margin: 1% 2%;
    padding: 8% 7%;
    font-family: var(--font-poppins);
}

.title {
    font-size: 0.8rem;
    height: 10%;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 550;
    height: 14%;
}

.imgsvg {
    height: 40%;
    margin-top: 4%;
}

.points {
    font-size: 0.8rem;
}

.btndiv {
    margin-top: 2%;
    height: 20%;
}

.optionlist {
    margin-top: 2%;
}


.addNewDevicebtn {
    color: white;
    background-color: "#EC1A25";
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    cursor: pointer;
    border: 0;
    padding: var(--padding-20xs) var(--padding-11xs);
    background-color: var(--color-crimson);
    border-radius: var(--br-2xs);
}
