@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

.frameChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -0.01%;
  right: 0;
  bottom: 0.01%;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-lavenderblush);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
}

.clients1 {
  top: 0;
  width: 61.17px;
  height: 26.69px;
}

.clients1,
.div,
.last7Days {
  position: absolute;
  left: 0;
  display: inline-block;
}

.last7Days {
  top: 94.54px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  width: 86.75px;
  height: 23.36px;
}

.div {
  top: 35.59px;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  width: 17.8px;
  height: 40.04px;
}


.h38ch38bm0014iconset0111,
.rectangleGroup {
  position: absolute;
  top: 5.84px;
  left: 5.28px;
  width: 50.05px;
  height: 50.05px;
}

.rectangleGroup {
  top: 17.77px;
  left: 17.8px;
  width: 62.28px;
  height: 62.28px;
}

.rectangleParent {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.clientsParent {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  gap: 17px
}

.frameInner {
  position: absolute;
  top: -0.02px;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-palevioletred);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
}

.last7Days1,
.revenue1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 76.74px;
  height: 26.69px;
}

.last7Days1 {
  top: 94.54px;
  font-size: var(--font-size-6xl);
  width: 86.75px;
  height: 23.36px;
}

.r8000,
.revenueParent {
  position: absolute;
  width: 100.1px;
}

.r8000 {
  top: 35.59px;
  left: 0;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  display: inline-block;
  height: 40.04px;
}

.revenueParent {
  top: 97.85px;
  left: 17.8px;
  height: 117.9px;
}

.dFinance91,
.rectangleDiv {
  position: absolute;
  border-radius: var(--br-2xl);
}

.rectangleDiv {
  top: 0;
  left: 0;
  background-color: var(--color-hotpink-200);
  width: 62.28px;
  height: 62.28px;
}

.dFinance91 {
  top: 2.22px;
  left: 3.34px;
  width: 56.72px;
  height: 56.72px;
  object-fit: cover;
}

.cards,
.videographyParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.videographyParent {
  height: 100%;
  width: 50%;
  flex: 1;
  justify-content: space-between;
  color: var(--color-white);
}

.cards {
  margin-top: 3%;
  height: 250px;
  align-self: stretch;
  padding: 0 21px 30px 0px;
  justify-content: flex-start;
  gap: var(--gap-md);
}

.recentCustomers {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 186.85px;
  height: 30.03px;
  flex-shrink: 0;
}

.recentCustomerNameDiv {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  justify-content: space-evenly;


}

.recentCustomerDiv {
  display: flex;
  flex-direction: row;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: var(--padding-6xs) var(--padding-4xs);
  box-sizing: border-box;

}

.recentCustomersImgDiv {
  height: 100%;

}

.recentCustomersImg {
  border: 1px solid #EC1A25;
  border-radius: 50%;
}


.customerData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.customerLeftDiv {
  display: flex;
  width: 60%;
  justify-content: space-between;

}

.rightCustomerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;


}

.customerImage {
  width: 53.39px;
  height: 53.39px;
  border: 1px solid #EC1A25;
  border-radius: 50%;
  object-fit: cover;
}

.arumiNelsonParent {
  position: absolute;
  width: 132.35px;
}

.arumiNelsonParent {
  top: 2.06px;
  left: 83px;
  height: 58.95px;
}

.frameWrapper {
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.am1 {
  position: absolute;
  left: 0;
  display: inline-block;
}

.homedashboard {
  display: flex;
  justify-content: flex-start;
}

.bottomsection {
  align-self: stretch;
  background-color: var(--color-white);
  height: 70vh;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
}

.bottomsection {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 70% 30%;
}

.maskGroupIcon1,
.wiliamMarchelParent {
  position: absolute;
  top: 2.06px;
  left: 83.5px;
  width: 140.14px;
  height: 58.95px;
}

.maskGroupIcon1 {
  top: -0.17px;
  left: 0.08px;
  width: 64.51px;
  height: 64.51px;
  object-fit: cover;
}

.groupParent {
  position: relative;
  width: 223.56px;
  height: 64.51px;
  flex-shrink: 0;
}

.frameContainer {
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
  width: 316px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.am2,
.jefriMikael {
  position: absolute;
  left: 0;
  display: inline-block;
}

.jefriMikael {
  top: 0;
  font-weight: 500;
  width: 101.21px;
  height: 26.69px;
}

.am2 {
  top: 35.59px;
  font-size: var(--font-size-6xl);
  color: var(--color);
  width: 122.34px;
  height: 23.36px;
}

.jefriMikaelParent,
.maskGroupIcon2 {
  position: absolute;
  top: 2.06px;
  left: 83.17px;
  width: 122.34px;
  height: 58.95px;
}

.maskGroupIcon2 {
  top: -0.17px;
  left: -0.25px;
  width: 64.51px;
  height: 64.51px;
  object-fit: cover;
}

.groupContainer {
  position: relative;
  width: 205.76px;
  height: 64.51px;
  flex-shrink: 0;
}

.frameWrapper1 {
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.03);
  width: 316px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.recentCustomersGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  font-size: var(--font-size-14xl);
}

.recentCustomersParent {
  align-self: stretch;
  padding: var(--padding-11xs) 25px;
  align-items: flex-start;
  gap: var(--gap-md);
  font-size: var(--font-size-18xl);
}

.cardsParent,
.recentCustomersParent {
  display: flex;
  flex-direction: column;
}

.cardsParent {
  align-self: stretch;
  /* height:100%; */
  align-items: center;
  gap: var(--gap-11xl);
}

.leftcontainer {
  background-color: var(--color-white);
  flex-shrink: 0;
  height: 100%;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color1);
  font-family: var(--font-poppins);
}

.upcomingBookings {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 202.7px;
  height: 30.03px;
  flex-shrink: 0;
}

.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.september2021 {
  position: absolute;
  top: 7.79px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.groupItem {
  border-radius: var(--br-5xl);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}

.groupItem,
.groupWrapper,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.49px;
  height: 44.49px;
}

.groupWrapper {
  left: 218px;
}

.expandLeftLightIcon {
  position: absolute;
  top: 8.9px;
  left: 226.31px;
  width: 27.27px;
  height: 26.69px;
}

.groupFrame,
.groupInner {
  position: absolute;
  top: 0;
  width: 44.49px;
  height: 44.49px;
}

.groupInner {
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-crimson);
}

.groupFrame {
  left: 275.83px;
}

.expandRightLightIcon {
  position: absolute;
  top: 8.9px;
  left: 284.44px;
  width: 26.98px;
  height: 26.69px;
}

.september2021Parent {
  position: absolute;
  top: 17.8px;
  left: 17.8px;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-18xl);
}

.mon {
  font-weight: 500;
  display: inline-block;
}

.mon,
.monWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 34.48px;
  height: 23.36px;
}

.tue {
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 28.92px;
}

.tue,
.tueWrapper,
.wed,
.wedWrapper {
  position: absolute;
  top: 0;
  height: 23.36px;
}

.tueWrapper {
  left: 63.39px;
  width: 28.92px;
}

.wed,
.wedWrapper {
  width: 36.7px;
}

.wed {
  left: 0;
  font-weight: 500;
  display: inline-block;
}

.wedWrapper {
  left: 119.01px;
}

.fri {
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 18.91px;
}

.fri,
.friWrapper,
.sat,
.satWrapper {
  position: absolute;
  top: 0;
  height: 23.36px;
}

.friWrapper {
  left: 186.85px;
  width: 18.91px;
}

.sat,
.satWrapper {
  width: 26.69px;
}

.sat {
  left: 0;
  font-weight: 500;
  display: inline-block;
}

.satWrapper {
  left: 235.79px;
}

.div1,
.groupParent1,
.sun,
.sunWrapper {
  position: absolute;
  top: 0;
  width: 30.03px;
  height: 23.36px;
}

.sun {
  left: 0;
  font-weight: 500;
  display: inline-block;
}

.div1,
.groupParent1,
.sunWrapper {
  left: 290.29px;
}

.div1,
.groupParent1 {
  top: 97.87px;
  left: 17.8px;
  width: 320.32px;
}

.div1 {
  height: 100%;
  width: 5.95%;
  top: 0;
  left: 0;
  display: inline-block;
}

.div2,
.div3 {
  position: absolute;
  width: 6.32%;
}

.div2 {
  height: 100%;
  top: 0;
  left: 20.07%;
  display: inline-block;
}

.div3 {
  left: 39.78%;
}

.div3,
.div4,
.div5 {
  height: 100%;
  top: 0;
  display: inline-block;
}

.div4 {
  position: absolute;
  width: 6.69%;
  left: 59.11%;
}

.div5 {
  width: 4.83%;
  left: 78.07%;
}

.div5,
.div6,
.parent {
  position: absolute;
}

.div6 {
  height: 100%;
  width: 1.86%;
  top: 0;
  left: 98.14%;
  color: var(--color1);
  display: inline-block;
}

.parent {
  height: 5.92%;
  width: 81.63%;
  top: 35.21%;
  right: 11.4%;
  bottom: 58.87%;
  left: 6.98%;
  color: var(--color);
}

.div7 {
  height: 100%;
  width: 3.36%;
  top: 0;
  left: 0;
  display: inline-block;
}

.div7,
.div8,
.div9 {
  position: absolute;
}

.div8 {
  height: 100%;
  width: 3.36%;
  top: 0;
  left: 20.52%;
  display: inline-block;
}

.div9 {
  left: 40.3%;
}

.div10,
.div11,
.div9 {
  height: 100%;
  width: 3.36%;
  top: 0;
  display: inline-block;
}

.div10 {
  position: absolute;
  left: 60.07%;
}

.div11 {
  left: 77.99%;
}

.div11,
.div12,
.group {
  position: absolute;
}

.div12 {
  height: 100%;
  width: 2.99%;
  top: 0;
  left: 97.01%;
  display: inline-block;
}

.group {
  height: 5.92%;
  width: 81.32%;
  top: 45.63%;
  right: 10.79%;
  bottom: 48.45%;
  left: 7.89%;
}

.div13,
.div14,
.div15,
.div16,
.div17,
.div18 {
  position: absolute;
  height: 100%;
  width: 3.33%;
  top: 0;
  left: 0;
  display: inline-block;
}

.div14,
.div15,
.div16,
.div17,
.div18 {
  left: 20.37%;
}

.div15,
.div16,
.div17,
.div18 {
  width: 5.19%;
  left: 39.26%;
}

.div16,
.div17,
.div18 {
  width: 3.33%;
  left: 59.63%;
}

.div17,
.div18 {
  width: 4.81%;
  left: 76.67%;
}

.div18 {
  left: 95.19%;
}

.container {
  position: absolute;
  height: 5.92%;
  width: 81.93%;
  top: 56.06%;
  right: 10.18%;
  bottom: 38.03%;
  left: 7.89%;
}

.div19,
.div20 {
  position: absolute;
  height: 65.62%;
  width: 5.13%;
  top: 21.87%;
  left: 0;
  display: inline-block;
}

.div20 {
  left: 19.78%;
}

.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-crimson);
  width: 35.59px;
  height: 35.59px;
}

.div21 {
  position: absolute;
  height: 65.62%;
  width: 45.52%;
  top: 18.75%;
  left: 13.01%;
  font-weight: 600;
  display: inline-block;
}

.rectangleParent1 {
  position: absolute;
  top: 0;
  left: 112.01px;
  width: 35.59px;
  height: 35.59px;
  color: var(--color-white);
}

.div22,
.div23 {
  height: 65.62%;
  top: 21.87%;
  display: inline-block;
}

.div22 {
  position: absolute;
  width: 4.76%;
  left: 58.97%;
}

.div23 {
  width: 5.13%;
  left: 76.19%;
}

.div23,
.div24,
.parent1 {
  position: absolute;
}

.div24 {
  height: 65.62%;
  width: 5.13%;
  top: 21.87%;
  left: 94.87%;
  display: inline-block;
}

.parent1 {
  height: 9.01%;
  width: 82.84%;
  top: 64.51%;
  right: 9.88%;
  bottom: 26.48%;
  left: 7.28%;
}

.div25 {
  height: 100%;
  width: 6.16%;
  top: 0;
  left: 0;
  display: inline-block;
}

.div25,
.div26,
.div27 {
  position: absolute;
}

.div26 {
  height: 100%;
  width: 4.71%;
  top: 0;
  left: 20.65%;
  display: inline-block;
}

.div27 {
  left: 39.13%;
}

.div27,
.div28,
.div29 {
  height: 100%;
  width: 6.16%;
  top: 0;
  display: inline-block;
}

.div28 {
  position: absolute;
  left: 58.33%;
}

.div29 {
  left: 75.72%;
}

.div29,
.div30,
.parent2 {
  position: absolute;
}

.div30 {
  height: 100%;
  width: 6.16%;
  top: 0;
  left: 93.84%;
  display: inline-block;
}

.parent2 {
  height: 5.92%;
  width: 83.75%;
  top: 76.9%;
  right: 9.58%;
  bottom: 17.18%;
  left: 6.67%;
}

.div31 {
  height: 100%;
  width: 6.2%;
  top: 0;
  left: 0;
  display: inline-block;
}

.div31,
.div32,
.div33 {
  position: absolute;
}

.div32 {
  height: 100%;
  width: 5.84%;
  top: 0;
  left: 20.07%;
  display: inline-block;
}

.div33 {
  width: 6.2%;
  left: 39.42%;
}

.div33,
.div34,
.div35 {
  height: 100%;
  top: 0;
  display: inline-block;
}

.div34 {
  position: absolute;
  width: 6.2%;
  left: 58.76%;
}

.div35 {
  width: 6.57%;
  left: 75.91%;
}

.div35,
.div36,
.parent3 {
  position: absolute;
}

.div36 {
  height: 100%;
  width: 4.74%;
  top: 0;
  left: 95.26%;
  display: inline-block;
}

.parent3 {
  height: 5.92%;
  width: 83.14%;
  top: 87.32%;
  right: 10.18%;
  bottom: 6.76%;
  left: 6.67%;
}

.groupDiv {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-6xl);
}

.upcomingBookingsParent {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.monday16Sept {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 187.97px;
  height: 26.69px;
  flex-shrink: 0;
}

.customers,
.rectangleButton {
  position: absolute;
  top: 0;
  left: 0;
}

.customers {
  top: 14.46px;
  left: 12.51px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}

.upcomingBookingsTitle {
  padding: 17px 18px;
  font-size: 1.1rem;
}

.cutomersButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #EC1A25;
  border-radius: 30px;
  position: relative;
  color: white;
  width: 111.22px;
  height: 44.49px;
  flex-shrink: 0;
}

.monday16Sept2021Parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.groupIcon,
.groupIcon {
  top: -0.29px;
  left: -10px;
  width: 203.53px;
}

.groupIcon {
  top: 10.83px;
  left: 274.73px;
  width: 35.59px;
  height: 35.59px;
}

/* .frameWrapper3 {
  border: 2px solid green;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 14px var(--padding-4xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
} */
.customerBox {
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-md);
  background-color: var(--color-white);
  display: flex;
  margin: 5px 0px;
  flex-direction: row;
  width: 100%;
  padding: 14px var(--padding-4xs);
  box-sizing: border-box;
  justify-content: space-between;
}

.frameChild2,
.maskGroupIcon4 {
  position: absolute;
  top: 11.83px;
  left: 292.23px;
  width: 35.59px;
  height: 35.59px;
}

.maskGroupIcon4 {
  top: 0;
  left: 0;
  width: 53.39px;
  height: 53.39px;
  object-fit: cover;
}

.upcomingdetailsclient {
  display: flex;
  justify-content: space-between;
}

.upcomingdetailsprofilediv {
  width: 30%;
}

.upcomingdetailsnamediv,
.customeraddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upcomingdetailsnamediv {
  width: 60%;
}

.customeraddress {
  width: 40%;
}

.upcomingdetailsprofile {
  width: 70%;
}





.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nobooking {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 500;
}

.totalCustomers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 100%;
  margin-top: 25px;
  flex-direction: column;
}


.frameParent1 {
  height: 100%;
  width: 100%;
  font-size: var(--font-size-14xl);
}

.calenderDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.frameGroup {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.rightcontainerInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frameGroup {
  width: 346px;
  height: 739px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 36px;
}

.rightcontainerInner {
  width: 100%;
  background-color: var(--color-white);
  flex-direction: row;
  margin-top: 40px;
}

.rightcontainer {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color1);
  font-family: var(--font-poppins);
  /* margin: 0% 5%; */
  padding: 0% 7%;
}

.upcomingBookingsMainDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: -4px 0px 2px 0px #aaaaaa;
  position: relative;
  height: 110%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color1);
  font-family: var(--font-poppins);
  /* margin: 0% 5%; */
}

.homedashboard {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.customerDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 4%;
  width: 100%;
}


.upcomingBookingImg {
  border-radius: 10px;
}

.customerImgInfoDiv {
  display: flex;
  width: 70%;
  align-items: center;
  gap: 4%
}

.customerInfo {
  display: flex;
  font-family: Roboto, Poppins;
  font-weight: 400;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.customerName {
  color: #3E4743;
}

.customerPhotoShootP {
  color: #9EA1A0;
}

.bookingDateTimeDiv {
  border-bottom: 1px dashed #9EA1A0;
  display: flex;
  margin: 0% 4%;
  padding: 2% 0%;
  align-items: center;
  color: #EC1A25;
}

.bookingDateTimeP {
  margin: 0% 2%;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: Roboto;

}

.bookingAddreessMainDiv {
  margin: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookingAddreessHeaderDiv {
  display: flex;
  align-items: center;
  gap: 4%;
}

.bookingAddressDetailDiv {
  color: #5E5D5B;
  margin: 0% 0% 0% 8%;
}

.bookingAddressMapDiv {
  height: 25vh;
  border-bottom: 1px dashed #9EA1A0;
  padding: 2% 0%;
  width: 100%;
}

.closeBookingDetailsMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
  border-radius: 10px;
  margin: 1% 2%;

}

.closeDetailsBtn {
  background-color: #EC1A25;
  width: 80%;
}

.closeDetailsBtn:hover {
  background-color: #EC1A25;
}


@media screen and (max-width: 1250px) {
  .recentCustomersGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 10px;
    font-size: var(--font-size-14xl);
  }

  .customerLeftDiv {
    width: 65%;
  }

  .customerBox {
    padding: 13px 10px;
  }

  .recentCustomersParent {
    padding: var(--padding-11xs) 35px;
  }



}

@media screen and (max-width: 1000px) {
  .bottomsection {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .leftcontainer {
    width: 100%;
  }

  .rightcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-gap: 10px 10px;
  }

  .cards {
    padding: 2% 2%;
    height: 250px;
  }

  .cardsParent {
    gap: 0
  }

  .customerLeftDiv {
    width: 35%;
  }

  .recentCustomersGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 10px;
    font-size: var(--font-size-14xl);
  }



}

@media screen and (max-width: 850px) {
  .bottomsection {
    display: flex;
    flex-direction: column;
  }

  .leftcontainer {
    width: 100%;
  }

  .rightcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
  }

  .cards {
    padding: 1% 1%;
    height: 100%;
    flex-direction: column;
  }

  .clientsParent {
    height: 50%;
    width: 70%;
    flex-direction: row;
  }

  .videographyParent {
    height: 50%;
    width: 70%;
    flex-direction: row;
  }

  .recentCustomersParent {
    padding: var(--padding-11xs) 15px;
  }




}

@media screen and (max-width: 730px) {
  .bottomsection {
    display: flex;
    flex-direction: column;
  }

  .leftcontainer {
    width: 100%;
  }

  .rightcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .upcomingdetailsname {
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    font-weight: 300;
    border: 2px solid red;
  }

  .clientsParent {
    height: 50%;
    width: 80%;
    flex-direction: row;
  }

  .videographyParent {
    height: 50%;
    width: 80%;
    flex-direction: row;
  }

  .recentCustomersParent {
    padding: var(--padding-11xs) 15px;
  }

  .recentCustomersGrid {
    grid-template-columns: auto auto;
  }

  .rightcontainerInner {
    padding: 0px 1%;
  }

  .customerLeftDiv {
    display: flex;
    width: 40%;
    justify-content: space-between;

  }




}

@media screen and (max-width: 500px) {


  .clientsParent {
    flex-direction: column;
  }

  .videographyParent {
    flex-direction: column;

  }

  .recentCustomersGrid {
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .customerLeftDiv {
    display: flex;
    width: 60%;
    justify-content: space-between;

  }



}

@media screen and (max-width: 450px) {
  .clientsParent {
    flex-direction: column;
  }

  .videographyParent {
    flex-direction: column;

  }

  .recentCustomersGrid {
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .customerLeftDiv {
    display: flex;
    width: 60%;
    justify-content: space-between;

  }



}