.imagediv {
    border: 2px solid red;
    height: 200px;
}


.imgdiv {
    height: 200px;
    overflow: hidden;
}

.myimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    margin-top: -3%;
    font-family: var(--font-poppins);
    font-size: 0.9vw;
    font-weight: 400;
}

.title {
    margin-top: 4%;
    font-family: var(--font-poppins);
    font-size: 1.3vw;
    font-weight: 500;
}

.outerdetails {
    display: flex;
    justify-content: space-between;

}

.collectioncount {
    text-align: right;
    font-family: var(--font-poppins);
    font-size: 1vw;
    font-weight: 500;
}


@media screen and (min-width: 1900px) {
    .imgdiv {
        height: 350px;
        overflow: hidden;
        border: 2px solid red;
    }
}