.maincomp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleblock {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

.titlediv {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.maintitleheading {
    font-family: var(--font-poppins);
    font-size: 1.3rem;
    font-weight: 500;
}

.iconblock {
    width: 30%;
    text-align: right;
}

.maintitle {
    color: white;
    font-family: var(--font-poppins);
    font-size: 2.5rem;
    font-weight: 600;
}

.maindate {
    color: white;
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    font-weight: 400;
}