.maincomp {
    margin: 0% 2%;
    /* padding: 0% 25%; */
}

.imageset {
    padding: 0% 5%;
}

.singleimage {
    margin: 2% 0%;
    height: 40vh;
    width: cover;
    /* border: 2px solid red; */
}

.imgset {
    display: flex;
    justify-content: space-between;
}


.gridClassPunit {
    columns: 4;
    column-gap: 1%;

}

.singleimagePunit {
    margin: 2% 0%;
    break-inside: avoid;

}

.ImageGalleryDiv{
  padding: 3% 0%;
}
.ImageGalleryMainDiv{
  /* border: 2px solid red; */
}