.frame141,
.frame151 {
    /* position: relative; */
    /* width: 383px; */
    /* height: 679px; */
    /* flex-shrink: 0; */
    margin-bottom: 0%;
}

.titleedit {
    display: flex;
    justify-content: space-between;
}

.datepreview {
    display: flex;
    justify-content: space-between;
}

.coverinside {
    text-align: center;
    padding: 25% 0%;
    background-color: rgb(201, 201, 201);
}

.covermain {
    margin: 8% 0%;
}

.settingname {
    display: inline;
    /* margin-left: 10px; */
    margin-top: 0px;
    font-size: 0.8rem;
    /* border: 2px solid red; */
}

.coverbtn {
    background-color: rgba(0, 0, 0, 0.377);
    width: 100%;
    padding: 4% 0%;
    color: white;
    border: none;
    font-size: 1.2rem;
}

.settingbtn {
    background: none;
    border: none;
    padding: 3% 3%;
   
}

.settingbtn:active{
    border-bottom: 2px solid crimson;
}

.settings {
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    margin: 7% 0%;
}

.previewbtn {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
}

.prreviewbtnset {
    color: white !important;
}

.previewbtn,
.publishbtn {
    width: 100%;
    padding: 3%;
    font-size: 0.8rem;
    margin-right: 2%;
    margin-top: 5%;
}


.publishbtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;


}

.navbutton {
    font-size: 1.1rem;
    font-weight: 400;
    background: none;
    padding-left: 0px;
    border: none;
    margin-bottom: 7%;
    text-align: left;
    display: flex;
    justify-content: left;
    /* border: 2px solid black; */
}

.datesection,
.previewsection {
    font-size: 0.8rem;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.myimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.7; */
}

.textimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(190, 190, 190, 0.7);
    width: 100%;
    text-align: center;
    padding: 4% 0%;
    font-size: 0.7rem;
    cursor: pointer;
}

.maincomponent {
    position: sticky;
    top: 10%;
    font-family: var(--font-poppins);
    padding: 0% 0%;
    margin: 4% 0%;
}

.sidemaintitle {
    font-size: 1.1rem;
    font-weight: 550;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.innercomponent {
    border: 2px solid red;
}

.frame141 {
    border-radius: 37px;
    /* width: 365px; */
    /* height: 649px; */
}

.login {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    /* height: 800px; */
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* gap: 21px; */
}

@media screen and (max-width: 900px) {

    .frame141,
    .frame151 {
        display: none;
    }
}