.frame141,
.frame151 {
    /* position: relative; */
    /* width: 383px; */
    /* height: 679px; */
    /* flex-shrink: 0; */
    margin-bottom: 0%;
}


.outermain {}

.datepreview {
    display: flex;
    justify-content: space-between;
}

.coverinside {
    text-align: center;
    padding: 25% 0%;
    background-color: rgb(201, 201, 201);
}

.covermain {
    margin: 8% 0%;
}

.settingname {
    display: inline;
    margin-left: 10px;
}

.settingtab {}

.coverbtn {
    background-color: rgba(0, 0, 0, 0.377);
    width: 100%;
    padding: 4% 0%;
    color: white;
    border: none;
}

.settingbtn {
    background: none;
    border: none;
    padding: 3% 3%;
    border-bottom: 2px solid crimson;
}

.settings {
    font-size: 1.3vw;
    font-weight: 400;
    color: black;
    margin: 7% 0%;
}

.previewbtn {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
}

.previewbtn,
.publishbtn {
    width: 100%;
    padding: 3%;
    font-size: 1vw;
    margin-right: 2%;
    margin-top: 5%;
}


.publishbtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;


}

.navbutton {
    font-size: 1.1vw;
    font-weight: 400;
    background: none;
    padding-left: 0px;
    border: none;
    margin-bottom: 7%;
    text-align: left;
}

.datesection,
.previewsection {
    font-size: 1vw;
    color: black;
}

.previewsection {}

.maincomponent {
    /* border: 2px solid red; */
    font-family: var(--font-poppins);
    padding: 15% 0%;
}

.sidemaintitle {
    font-size: 1.7vw;
    font-weight: 550;
}

.innercomponent {
    border: 2px solid red;
}

.frame141 {
    border-radius: 37px;
    /* width: 365px; */
    /* height: 649px; */
}

.login {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    /* height: 800px; */
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* gap: 21px; */
}

@media screen and (max-width: 900px) {

    .frame141,
    .frame151 {
        display: none;
    }
}