.artboard134x81,
.icon {
    position: relative;
    flex-shrink: 0;
}

.navdropdown {
    margin-left: -10%;
}

.artboard134x81 {
    width: 102.71px;
    height: 30.66px;
    object-fit: cover;
}

.icon {
    width: 24.53px;
    height: 24.53px;
    overflow: hidden;
}

.groupIcon {
    position: absolute;
    height: 83.37%;
    width: 78.75%;
    top: 8.96%;
    right: 12.27%;
    bottom: 7.67%;
    left: 8.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.parent {
    width: 99.99px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
}

.kateMadileng,
.maskGroupIcon {
    position: relative;
    flex-shrink: 0;
}

.maskGroupIcon {
    width: 32.7px;
    height: 32.7px;
    object-fit: cover;
}

.kateMadileng {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    width: 119.57px;
    height: 24.53px;
}

.maskGroupParent {
    width: 99.99px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.vectorIcon {
    position: relative;
    width: 13.45px;
    height: 8.2px;
    flex-shrink: 0;
}

.button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 16.1px;
    height: 16.1px;
    flex-shrink: 0;
    overflow: hidden;
    transform-origin: 0 0;
}

.button2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-sm) var(--padding-md);
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform-origin: 0 0;
}

.frameChild {
    position: absolute;
    top: 2.3px;
    left: 7.67px;
    width: 4px;
    height: 20px;
}

.groupWrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 24.53px;
    height: 24.53px;
    flex-shrink: 0;
    overflow: hidden;
}

.frameParent {
    width: 351px;
    flex-shrink: 0;
    justify-content: space-between;
}

.artboard134x81Parent,
.frameParent,
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.artboard134x81Parent {
    flex: 1;
    justify-content: space-between;
}

.topbar {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    padding: 18px 74px;
    box-sizing: border-box;
    justify-content: flex-start;
    text-align: left;
    font-size: 12.26px;
    color: var(--color-darkslategray-100);
    font-family: var(--font-poppins);
}