.imgblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px;
    height: 158px;
    width: 102px;
}

.imgdiv {
    text-align: center;
    padding: 2% 2%;
    height: 120px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2% 2%; */
}

.outerimg {
    /* background: black; */
    margin: 2% 1%;
    padding: 0px 1px;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}


.setbutton {
    text-align: center;
    position: absolute;
    z-index: +2;
    left: 15%;
    /* justify-content: center; */
}

.imgdiv {
    /* height: 100px; */
    overflow: hidden;
}

.myimage {
    width: 100%;
}






.containermain {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.outerimg:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .5);
}

/* img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
  } */

.button {
    position: absolute;
    /* width: 500px; */
    cursor: pointer;
    left: 17%;
    color: white;
    border: solid 1px white;
    padding: 4% 10%;
    z-index: +2;
    /* top: 180px; */
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.outerimg:hover .button {
    opacity: 1;
}