.music {
    display: flex;
    margin: 2% 0%;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    padding: 2% 2%;
    font-family: var(--font-poppins);
    font-size: 1rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.loader {
    width: 5%;
}

.name {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.progesssection {
    font-weight: 500;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.filesize {
    color: crimson;
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}


.maindiv {
    padding: 0% 8%;
}