.collectionbtn {
    font-family: var(--font-poppins);
    font-size: 0.9vw;
    font-weight: 400;
    width: 150px;
    background-color: crimson;
    color: white;
    margin: 0% 2%;
}

.collectionbtn:hover {
    background-color: crimson;
    color: white;
}

.collectionbtn:hover {
    background-color: crimson;
    color: white;
}

.searchbtn {
    margin: -3% 3%;
}

.mainname {
    font-family: var(--font-poppins);
    font-size: 1.5vw;
    font-weight: 500;
}

.maincomp {
    margin: 1% 0%;
}

.collectioncount {}

.outermain {
    margin: 2% 0%;
}

.addmedia {
    text-align: center;
    padding: 20% 0%;
    border: 2ps solid red;
}

.nomedia {
    font-family: var(--font-poppins);
    font-size: 1.1vw;
    font-weight: 400;
    color: rgb(88, 88, 88);
}


.collectionbtn:hover,
.dragbtn:hover {
    background-color: crimson;
    color: white;
}

.collectionbtn:hover,
.dragbtn:hover {
    background-color: crimson;
    color: white;
}

.dragbtn {
    background-color: crimson;
    color: white;
    font-family: var(--font-poppins);
    font-size: 0.9vw;
    font-weight: 400;
}

.totalmedia {
    display: flex;
    justify-content: flex-start;
}

.totalcount {
    font-family: var(--font-poppins);
    font-size: 1vw;
    font-weight: 500;
    margin-right: 3%;
}

.imgdiv {
    height: 100px;
    overflow: hidden;
    margin: 2% 0%;
}

.myimage {
    width: 100%;
}