.collectionbtn {
    font-family: var(--font-poppins);
    font-size: 0.8rem;
    font-weight: 400;
    /* width: 100%; */
    background-color: crimson;
    color: white;
}

.widthset {
    width: auto;
    padding: 0% 0% !important;
    margin: 0% 2%;
}


@media screen and (max-width: 575px) {

    .galleryaddnav {
        /* border: solid red; */
        display: flex;
        flex-direction: column;
    }

}

.btnsetting {
    display: flex;
    justify-content: right;
    width: 50%;
}

.collectionbtn:hover {
    background-color: crimson;
    color: white;
}

.collectionbtn:hover {
    background-color: crimson;
    color: white;
}

.mainname {
    font-family: var(--font-poppins);
    font-size: 1.3rem;
    font-weight: 500;
    top: 0;
}

.maincomp {
    margin: 0% 0%;
}

.collectionbtn:hover,
.dragbtn:hover {
    background-color: crimson;
    color: white;
}

.collectionbtn:hover,
.dragbtn:hover {
    background-color: crimson;
    color: white;
}

.dragbtn {
    background-color: crimson;
    color: white;
    font-family: var(--font-poppins);
    font-size: 0.9rem;
    font-weight: 400;
}

.totalmedia {
    display: flex;
    justify-content: flex-start;
}

.totalcount {
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 3%;
}

.imgdiv {
    height: 100px;
    overflow: hidden;
    margin: 2% 0%;
}

.myimage {
    width: 100%;
}

@media screen and (min-width: 1500px) {

    .collectionbtn {
        font-family: var(--font-poppins);
        font-size: 0.9rem;
        font-weight: 400;
        width: 200px;
        background-color: crimson;
        color: white;
    }

}