.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #e6e6e6;
  font-family: poppins;
  line-height: 1.125em;
  padding: 5% 5%;
  border-radius: 10px;
}

.react-calendar__navigation {
  font-family: poppins;
}


.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0% 0%;
  border: 0;
  outline: none;
}

.react-calendar__navigation__prev2-button {
  display: none !important;
}

.react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__navigation__label {
  height: 100%;
  order: 1;
  text-align: left;
}

.react-calendar__navigation__label:hover {
  background: none !important;
}

.react-calendar__navigation__prev-button {
  border-radius: 50%;
  border: 1px solid #e6e6e6 !important;
  margin-right: 5px !important;
  height: 100%;
  order: 2;
}

.react-calendar__navigation__next-button {
  border-radius: 50%;
  border: 1px solid #e6e6e6 !important;
  margin-left: 5px !important;
  height: 100%;
  background-color: #EC1A25 !important;
  order: 3;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 2em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #ee0303;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;

}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.80em;
  font-family: poppins;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #ec1a25;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ec1a25;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 15px 0px;
  background: none;
  text-align: center;
  border-radius: 50%;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  /* background-color: #f0f0f0; */
  color: #e6e6e6;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background: black;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: black;
}

.react-calendar__tile--hasActive {
  background: #EC1A25;
  border-radius: 50%;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #ec1a25;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ec1a25;
  border-radius: 50%;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}