.frameChild {
  position: absolute;
  top: -0.02px;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-hotpink-100);
  box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
}

.div,
.last7Days,
.photography1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 115.67px;
  height: 26.69px;
}

.div,
.last7Days {
  top: 94.54px;
  font-size: var(--font-size-6xl);
  width: 86.75px;
  height: 23.36px;
}

.div {
  top: 35.59px;
  font-size: var(--font-size-26xl);
  font-weight: 500;
  width: 16.68px;
  height: 40.04px;
}

.frameItem,
.photographyParent {
  position: absolute;
  top: 97.85px;
  left: 17.8px;
  width: 115.67px;
  height: 117.9px;
}

.frameItem {
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-hotpink-300);
  width: 62.28px;
  height: 62.28px;
}

.appPhotographyCameraCamPhoIcon {
  position: absolute;
  top: 16.68px;
  left: 10.01px;
  width: 41.15px;
  height: 28.92px;
  object-fit: cover;
}

.rectangleGroup {
  position: absolute;
  top: 17.77px;
  left: 17.8px;
  width: 62.28px;
  height: 62.28px;
}

.rectangleParent {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.photography {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
  font-family: var(--font-poppins);

}

@media screen and (max-width: 500px) {

  .photography {
    width: 80%;
  }


}

@media screen and (max-width: 450px) {

  .photography {
    width: 100%;
  }


  
.photographyParent {
  position: absolute;
  top: 0px;
  left: 160px;
  width: 115.67px;
  height: 117.9px;
}


}