.dashboard {
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 5px;
}

.dayButton {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Label / Label lg */
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #EC1A25;
    border: none;
    padding: 4px 15px;
    margin: 0px 4px;
}

.monthDetails {
    font-weight: 500;
}

.arrowButton {
    background: #EC1A25;
    border: none;
    color: #FFF;
    padding: rpx;
    height: 3rem;
    width: 3rem;
    margin: 0px 4px;
    border-radius: 100%;
}