.upcomingmain {
    margin-top: 2.4%;
    padding: 3% 0%;
    border-top: 1px solid rgba(0, 0, 0, 0.116);
}

.customerBox {
    box-shadow: 8.341666221618652px 20.020000457763672px 45.04px rgba(0, 0, 0, 0.1);
    border-radius: var(--br-md);
    background-color: var(--color-white);
    display: flex;
    margin: 5px 0px;
    flex-direction: row;
    width: 100%;
    /* padding: 14px var(--padding-4xs); */
    padding: 4% 1%;
    box-sizing: border-box;
    justify-content: space-between;
}

.imgdiv {
    border-radius: 100%;
}

.datetitle {
    margin-bottom: 2%;
}

.amount {
    font-weight: 500;
    font-size: 1.4rem;
    font-family: var(--font-poppins);
}