.imgdiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singlemain {
    margin: 1% 0%;
    padding: 1%;
}

.name {
    cursor: pointer;
}

.specialmain {
    margin: 4% 0%;
    display: flex;
}

.editspecial {
    font-size: 0.8rem;
    display: block;
    color: var(--color-crimson);
    cursor: pointer;
    font-weight: 550;
    font-family: var(--font-poppins);
}

.editname {
    margin-left: 1%;
}

.outerimg {
    margin: 2% 1%;
    padding: 0px 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    /* max-width: 90px; */
    /* max-height: 90px; */
}


.setbutton {
    text-align: center;
    position: absolute;
    z-index: +2;
    left: 15%;
}

.imgdiv {
    border-radius: 100%;
    justify-content: center;
    overflow: hidden;
}

.myimage {
    width: 100%;
    border-radius: 100%;
}







.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.outerimg .overlay {
    border-radius: 100%;
    display: block;
    background: rgba(0, 0, 0, .5);
}

.button {
    position: absolute;
    color: white;
    z-index: +2;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-family: var(--font-poppins);
    font-weight: 300;
}

.outerimg .button {
    opacity: 1;
}

.pensymbol {
    opacity: 0;
}

.outerimg:hover .pensymbol {
    opacity: 1;
}