.maindiv {
    margin: 0% 0%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navtitle {
    font-weight: 430;
    font-family: var(--font-poppins);
    font-size: 1.2rem;
}

.titlename {
    margin-top: 4%;
}

.tableRow {
    padding: 50% 0%;
    font-size: 0.9rem;
    font-family: var(--font-poppins);
    text-align: center;
}

.tableData {
    padding: 50% 0%;
}

.tableDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
}


.buystoragebtn {
    color: black;
    cursor: pointer;
    border: 0;
    background-color: white;
    padding: 5% 5%;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.267);
    border-radius: 24px;
    width: 100%;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.creatediv {
    margin: 2% 0%;
}

.addbtn {
    font-size: 1.2rem;
    width: 20%;
}

.btnname {
    font-size: 1rem;
    font-family: var(--font-poppins);
    width: 70%;
}

.createDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}

.title {
    font-size: 0.8rem;
    height: 10%;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 550;
    height: 14%;
}

.createBtnDiv {
    margin: 3% 0%;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    border-radius: 24px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 6px 4px 4px rgba(0, 0, 0, 0.1);
}

.buttons:hover {
    border: 0.5px solid black;
}

.dashboardTable {
    height: 40%;
    overflow-y: scroll;
}