.rightcontainer {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    text-align: left;
    font-size: var(--font-size-29xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
    display: flex;
    justify-content: flex-start;

}

.deviceListComp {
    width: 100%;
    overflow-x: scroll;
}

.tableHeading {
    font-size: 0.76rem;
    font-weight: 400;
    color: #A3A3A3;
    font-family: "poppins";
}